.App {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  padding-top: 5px;
}

section {
  max-width: 800px;
  display: block;
  margin: auto;
  background-color: rgb(220, 235, 255);
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

form input {
  width: 100%;
}
